USE [master]
GO
/****** Object:  Database [evdb]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE DATABASE [evdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'evdb', FILENAME = N'C:\Users\Sutee\evdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'evdb_log', FILENAME = N'C:\Users\Sutee\evdb_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [evdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [evdb]
GO
/****** Object:  Schema [com]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE SCHEMA [com]
GO
/****** Object:  Schema [ev]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE SCHEMA [ev]
GO
/****** Object:  Schema [hr]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE SCHEMA [hr]
GO
/****** Object:  Schema [inter]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE SCHEMA [inter]
GO
/****** Object:  Table [ev].[academic_article_2_4]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[academic_article_2_4](
	[meeting_name] [nvarchar](50) NOT NULL,
	[article_title] [nvarchar](50) NOT NULL,
	[authors] [nvarchar](50) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[publish_year] [int] NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[abstract] [text] NOT NULL,
	[keywords] [text] NOT NULL,
	[paper_format_type] [nvarchar](4) NOT NULL,
	[paper_format_level] [nvarchar](3) NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_academic_article_2_4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[academic_article_2_5]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[academic_article_2_5](
	[article_title] [nvarchar](45) NOT NULL,
	[author] [nvarchar](45) NOT NULL,
	[publisher] [nvarchar](45) NOT NULL,
	[year_publication] [int] NOT NULL,
	[month_publication] [int] NOT NULL,
	[abstract] [text] NOT NULL,
	[keywords] [text] NOT NULL,
	[doi] [text] NOT NULL,
	[paper_format_level] [nvarchar](3) NOT NULL,
	[publisher_database] [nvarchar](45) NOT NULL,
	[publisher_cite_index] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_academic_article_2_5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[academic_service_3_1]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[academic_service_3_1](
	[project_name] [nvarchar](50) NOT NULL,
	[service_applicant] [nvarchar](50) NOT NULL,
	[type_of_work] [nvarchar](50) NOT NULL,
	[project_start_date] [date] NOT NULL,
	[fund] [nvarchar](50) NOT NULL,
	[note] [nvarchar](50) NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_academic_service_3_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[academic_service_qa_3_2]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[academic_service_qa_3_2](
	[project_name] [nvarchar](45) NOT NULL,
	[project_type] [nvarchar](45) NOT NULL,
	[service_applicant] [nvarchar](45) NOT NULL,
	[project_start_date] [date] NOT NULL,
	[project_end_date] [date] NOT NULL,
	[operating_result] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_academic_service_qa_3_2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[administrative_task_6]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[administrative_task_6](
	[acad_year] [int] NOT NULL,
	[task_name] [nvarchar](45) NOT NULL,
	[task_detail] [nvarchar](200) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_administrative_task_6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[advisor_1_5]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[advisor_1_5](
	[activity] [nvarchar](100) NOT NULL,
	[number_of_student] [int] NOT NULL,
	[percentage] [numeric](18, 2) NOT NULL,
	[acad_year] [int] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_advisor_1_5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[assign_task_5]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[assign_task_5](
	[assigned_task] [nvarchar](45) NOT NULL,
	[assigned_by] [nvarchar](45) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_assign_task_5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[creative_work_2_7]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[creative_work_2_7](
	[quality_level] [nvarchar](45) NOT NULL,
	[type] [nvarchar](45) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[description] [text] NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_creative_work_2_7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[culture_activity_4]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[culture_activity_4](
	[event_name] [nvarchar](45) NOT NULL,
	[role] [nvarchar](45) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_culture_activity_4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[invite_reviewer_3_4]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[invite_reviewer_3_4](
	[journal_conference_name] [nvarchar](45) NOT NULL,
	[article_title] [nvarchar](45) NOT NULL,
	[service_applicant] [nvarchar](45) NOT NULL,
	[project_start_date] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_invite_reviewer_3_4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[invite_speaker_3_3]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[invite_speaker_3_3](
	[project_name] [nvarchar](45) NOT NULL,
	[role] [nvarchar](45) NOT NULL,
	[service_recipient_agency] [nvarchar](45) NOT NULL,
	[start_date] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_invite_speaker_3_3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[patent_2_6]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[patent_2_6](
	[name_of_work] [nvarchar](45) NOT NULL,
	[copyright_number] [nvarchar](45) NOT NULL,
	[type] [nvarchar](45) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_patent_2_6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_acad_research_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_acad_research_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[teaching_meterial_score_2_1] [numeric](18, 2) NOT NULL,
	[book_score_2_2] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_3] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_4] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_5] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_6] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_7] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_8] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_9] [numeric](18, 2) NOT NULL,
	[acad_research_score_2_10] [numeric](18, 2) NOT NULL,
	[patents_score_2_11] [numeric](18, 2) NOT NULL,
	[patents_score_2_12] [numeric](18, 2) NOT NULL,
	[research_grants_score_2_13] [numeric](18, 2) NOT NULL,
	[research_grants_score_2_14] [numeric](18, 2) NOT NULL,
	[research_grants_score_2_15] [numeric](18, 2) NOT NULL,
	[research_grants_score_2_16] [numeric](18, 2) NOT NULL,
	[creative_work_score_2_17] [numeric](18, 2) NOT NULL,
	[creative_work_score_2_18] [numeric](18, 2) NOT NULL,
	[creative_work_score_2_19] [numeric](18, 2) NOT NULL,
	[creative_work_score_2_20] [numeric](18, 2) NOT NULL,
	[creative_work_score_2_21] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_acad_research_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_acad_service_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_acad_service_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[acad_service_score_3_1] [numeric](18, 2) NOT NULL,
	[acad_service_score_3_2] [numeric](18, 2) NOT NULL,
	[acad_service_score_3_3] [numeric](18, 2) NOT NULL,
	[acad_service_score_3_4] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_acad_service_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_admin_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_admin_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[admin_score_6_1] [numeric](18, 2) NOT NULL,
	[admin_score_6_2] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_administrative_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_approval_status]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_approval_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tr_id] [nvarchar](14) NOT NULL,
	[emp_id_approval] [nvarchar](7) NOT NULL,
	[approval_date] [date] NOT NULL,
	[emp_noted] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_personnel_approval_status_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_art_culture_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_art_culture_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[art_culture_score_4_1] [numeric](18, 2) NOT NULL,
	[art_culture_score_4_2] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_art_culture_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_development_8]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_development_8](
	[topic_name] [nvarchar](45) NOT NULL,
	[type] [nvarchar](45) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[organizers] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_other_task_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_other_task_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[other_task_score_5_1] [numeric](18, 2) NOT NULL,
	[other_task_score_5_2] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_other_task_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[emp_id] [nvarchar](7) NOT NULL,
	[acad_year] [int] NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[teaching_score] [numeric](18, 2) NOT NULL,
	[acad_research_score] [numeric](18, 2) NOT NULL,
	[acad_service_score] [numeric](18, 2) NOT NULL,
	[art_culture_score] [numeric](18, 2) NOT NULL,
	[other_task_score] [numeric](18, 2) NOT NULL,
	[administrative_score] [numeric](18, 2) NOT NULL,
	[virtues_ethics_score] [numeric](18, 2) NOT NULL,
	[university_support_score] [numeric](18, 2) NOT NULL,
	[total_score] [numeric](18, 2) NOT NULL,
	[status] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_personnel_scoring] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_teaching_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_teaching_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[teaching_load_score_1_1_2] [numeric](18, 2) NOT NULL,
	[student_eval_score_1_3] [numeric](18, 2) NOT NULL,
	[colleague_eval_score_1_4] [numeric](18, 2) NOT NULL,
	[advisor_score_1_5] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_teaching_eval_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_uni_support_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_uni_support_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[uni_support_8_1] [numeric](18, 2) NOT NULL,
	[uni_support_8_2] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_uni_support_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[personnel_virtures_ethics_score]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[personnel_virtures_ethics_score](
	[tr_id] [nvarchar](14) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
	[virtues_ethics_score_7_1] [numeric](18, 2) NOT NULL,
	[virtues_ethics_score_7_2] [numeric](18, 2) NOT NULL,
	[virtues_ethics_score_7_3] [numeric](18, 2) NOT NULL,
	[virtues_ethics_score_7_4] [numeric](18, 2) NOT NULL,
	[virtues_ethics_score_7_5] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_personnel_virtures_ethics_score] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[research_grant_2_3]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[research_grant_2_3](
	[research_topic] [nvarchar](45) NOT NULL,
	[position] [nvarchar](45) NOT NULL,
	[sponsor] [nvarchar](45) NOT NULL,
	[number_of_year] [nvarchar](45) NOT NULL,
	[contact_period] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_research_grant_2_3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[section3_summary]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[section3_summary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[acad_year] [int] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[summary_comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[support_task_7]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[support_task_7](
	[document_no] [nvarchar](45) NOT NULL,
	[document_name] [nvarchar](45) NOT NULL,
	[task_detail] [text] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_support_task_7] PRIMARY KEY CLUSTERED 
(
	[document_no] ASC,
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_document_2_1]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_document_2_1](
	[subject] [nvarchar](45) NOT NULL,
	[teaching_material] [nvarchar](45) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[type] [nvarchar](45) NOT NULL,
	[co_producer] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_teaching_document_2_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_evaluation_1_3]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_evaluation_1_3](
	[subject_code] [nvarchar](45) NOT NULL,
	[subject_name] [nvarchar](45) NOT NULL,
	[teaching_type] [nvarchar](3) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[score] [numeric](18, 2) NOT NULL,
	[acad_year] [int] NOT NULL,
	[acad_semester] [nvarchar](2) NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_teaching_evaluation_1_3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_evaluation_1_4]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_evaluation_1_4](
	[subject_code] [nvarchar](45) NOT NULL,
	[subject_name] [nvarchar](45) NOT NULL,
	[acad_semester] [nvarchar](2) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[score] [numeric](18, 2) NOT NULL,
	[acad_year] [int] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_teaching_evaluation_1_4] PRIMARY KEY CLUSTERED 
(
	[subject_code] ASC,
	[acad_semester] ASC,
	[acad_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_evaluation_details_1_4]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_evaluation_details_1_4](
	[subject_code] [nvarchar](45) NOT NULL,
	[acad_year] [int] NOT NULL,
	[acad_semester] [nvarchar](2) NOT NULL,
	[subject_section] [nvarchar](50) NOT NULL,
	[score] [numeric](18, 2) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_teaching_evaluation_details_1_4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_load_1_1]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_load_1_1](
	[acad_year] [int] NOT NULL,
	[acad_semester] [nvarchar](2) NOT NULL,
	[total_credit_lecture] [numeric](18, 2) NOT NULL,
	[total_credit_lab] [numeric](18, 2) NOT NULL,
	[total_credit_thesis] [numeric](18, 2) NOT NULL,
	[total_credit] [numeric](18, 2) NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_teaching_load_1_1_1] PRIMARY KEY CLUSTERED 
(
	[acad_year] ASC,
	[acad_semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[teaching_load_details_1_1]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[teaching_load_details_1_1](
	[subject_code] [nvarchar](10) NOT NULL,
	[acad_year] [int] NOT NULL,
	[acad_semester] [nvarchar](2) NOT NULL,
	[subject_section] [nvarchar](50) NOT NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[teaching_type] [nvarchar](3) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[credit] [numeric](18, 2) NOT NULL,
	[number_of_students] [int] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_teaching_load_1_1] PRIMARY KEY CLUSTERED 
(
	[subject_code] ASC,
	[acad_year] ASC,
	[acad_semester] ASC,
	[subject_section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ev].[textbook_2_2]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ev].[textbook_2_2](
	[name_of_work] [nvarchar](45) NOT NULL,
	[teaching_book] [nvarchar](45) NOT NULL,
	[type] [nvarchar](45) NOT NULL,
	[day_month_year] [date] NOT NULL,
	[acad_year] [int] NOT NULL,
	[reason] [text] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[approved_emp_id] [nvarchar](7) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_textbook_2_2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [hr].[data_centric_users]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[data_centric_users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_data_centric_users_1] PRIMARY KEY CLUSTERED 
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[personnel]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[personnel](
	[emp_id] [nvarchar](7) NOT NULL,
	[emp_fname] [nvarchar](45) NOT NULL,
	[emp_lname] [nvarchar](45) NOT NULL,
	[emp_email] [nvarchar](50) NOT NULL,
	[emp_dob] [date] NOT NULL,
	[emp_age] [int] NOT NULL,
	[emp_h_education] [nvarchar](45) NOT NULL,
	[emp_start_date] [date] NOT NULL,
	[emp_type] [nvarchar](1) NOT NULL,
	[emp_work_type] [nvarchar](50) NULL,
	[emp_pos] [nvarchar](45) NOT NULL,
	[emp_dept_id] [nvarchar](10) NOT NULL,
	[emp_department] [nvarchar](45) NOT NULL,
	[emp_faculty_id] [nvarchar](10) NOT NULL,
	[emp_faculty] [nvarchar](45) NOT NULL,
	[emp_office_id] [nvarchar](10) NOT NULL,
	[emp_office] [nvarchar](50) NOT NULL,
	[emp_academic_pos] [nvarchar](45) NOT NULL,
	[emp_line_work] [nvarchar](7) NOT NULL,
	[research_approved_year_academic] [nvarchar](10) NULL,
 CONSTRAINT [PK_personnel] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [inter].[visa_transaction]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inter].[visa_transaction](
	[tr_id] [nvarchar](14) NOT NULL,
	[acad_year] [int] NOT NULL,
	[student_id] [nvarchar](7) NOT NULL,
	[student_fname] [nvarchar](50) NOT NULL,
	[student_dname] [nvarchar](50) NOT NULL,
	[student_lname] [nvarchar](50) NOT NULL,
	[school_email] [nvarchar](50) NOT NULL,
	[student_email] [nvarchar](50) NOT NULL,
	[passport_number] [nvarchar](50) NOT NULL,
	[student_citizen] [nvarchar](50) NOT NULL,
	[visa_type] [nvarchar](50) NOT NULL,
	[visa_issue_date] [date] NOT NULL,
	[visa_expiry_date] [date] NOT NULL,
	[visa_next_expiry_date] [date] NULL,
	[visa_doc_pickup] [date] NOT NULL,
	[status] [nvarchar](1) NOT NULL,
	[created_date] [date] NOT NULL,
	[updated_date] [date] NOT NULL,
 CONSTRAINT [PK_visa_transaction] PRIMARY KEY CLUSTERED 
(
	[tr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [inter].[visa_transaction_status]    Script Date: 01/25/2026 3:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inter].[visa_transaction_status](
	[ids] [int] IDENTITY(1,1) NOT NULL,
	[tr_id] [nvarchar](14) NOT NULL,
	[tr_date] [date] NOT NULL,
	[visa_status] [nvarchar](1) NOT NULL,
	[reason] [text] NOT NULL,
	[personnel_emp_id] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_visa_transaction_status] PRIMARY KEY CLUSTERED 
(
	[ids] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_academic_article_2_4_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_academic_article_2_4_personnel_emp_id] ON [ev].[academic_article_2_4]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_academic_article_2_5_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_academic_article_2_5_personnel_emp_id] ON [ev].[academic_article_2_5]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_academic_service_3_1_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_academic_service_3_1_personnel_emp_id] ON [ev].[academic_service_3_1]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_academic_service_qa_3_2_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_academic_service_qa_3_2_personnel_emp_id] ON [ev].[academic_service_qa_3_2]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_advisor_1_5_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_advisor_1_5_personnel_emp_id] ON [ev].[advisor_1_5]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_creative_work_2_7_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_creative_work_2_7_personnel_emp_id] ON [ev].[creative_work_2_7]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_culture_activity_personnel1_idx]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [fk_culture_activity_personnel1_idx] ON [ev].[culture_activity_4]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invite_reviewer_3_4_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_invite_reviewer_3_4_personnel_emp_id] ON [ev].[invite_reviewer_3_4]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invite_speaker_3_3_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_invite_speaker_3_3_personnel_emp_id] ON [ev].[invite_speaker_3_3]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_patent_2_6_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_patent_2_6_personnel_emp_id] ON [ev].[patent_2_6]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_research_grant_2_3_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_research_grant_2_3_personnel_emp_id] ON [ev].[research_grant_2_3]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_teaching_document_2_1_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_teaching_document_2_1_personnel_emp_id] ON [ev].[teaching_document_2_1]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_teaching_evaluation_1_3_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_teaching_evaluation_1_3_personnel_emp_id] ON [ev].[teaching_evaluation_1_3]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_teaching_evaluation_1_4_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_teaching_evaluation_1_4_personnel_emp_id] ON [ev].[teaching_evaluation_1_4]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_textbook_2_2_personnel_emp_id]    Script Date: 01/25/2026 3:34:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_textbook_2_2_personnel_emp_id] ON [ev].[textbook_2_2]
(
	[personnel_emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ev].[academic_article_2_4] ADD  CONSTRAINT [DF_academic_article_2_4_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[academic_article_2_4] ADD  CONSTRAINT [DF_academic_article_2_4_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[academic_article_2_4] ADD  CONSTRAINT [DF_academic_article_2_4_emp_id_updated]  DEFAULT ('-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[academic_article_2_5] ADD  CONSTRAINT [DF_academic_article_2_5_publisher_database]  DEFAULT ('-') FOR [publisher_database]
GO
ALTER TABLE [ev].[academic_article_2_5] ADD  CONSTRAINT [DF_academic_article_2_5_publisher_cite_index]  DEFAULT ('-') FOR [publisher_cite_index]
GO
ALTER TABLE [ev].[academic_article_2_5] ADD  CONSTRAINT [DF_academic_article_2_5_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[academic_article_2_5] ADD  CONSTRAINT [DF_academic_article_2_5_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[academic_article_2_5] ADD  CONSTRAINT [DF_academic_article_2_5_approved_emp_id]  DEFAULT ('-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[academic_service_3_1] ADD  CONSTRAINT [DF_academic_service_3_1_status]  DEFAULT (N'A') FOR [status]
GO
ALTER TABLE [ev].[academic_service_3_1] ADD  CONSTRAINT [DF_academic_service_3_1_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[academic_service_qa_3_2] ADD  CONSTRAINT [DF_academic_service_qa_3_2_status]  DEFAULT (N'A') FOR [status]
GO
ALTER TABLE [ev].[academic_service_qa_3_2] ADD  CONSTRAINT [DF_academic_service_qa_3_2_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[creative_work_2_7] ADD  CONSTRAINT [DF_creative_work_2_7_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[creative_work_2_7] ADD  CONSTRAINT [DF_creative_work_2_7_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[creative_work_2_7] ADD  CONSTRAINT [DF_creative_work_2_7_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[invite_reviewer_3_4] ADD  CONSTRAINT [DF_invite_reviewer_3_4_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[invite_reviewer_3_4] ADD  CONSTRAINT [DF_invite_reviewer_3_4_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[invite_speaker_3_3] ADD  CONSTRAINT [DF_invite_speaker_3_3_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[invite_speaker_3_3] ADD  CONSTRAINT [DF_invite_speaker_3_3_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[patent_2_6] ADD  CONSTRAINT [DF_patent_2_6_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[patent_2_6] ADD  CONSTRAINT [DF_patent_2_6_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[patent_2_6] ADD  CONSTRAINT [DF_patent_2_6_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_teaching_meterial_score_2_1]  DEFAULT ((0.0)) FOR [teaching_meterial_score_2_1]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_book_score_2_2]  DEFAULT ((0.0)) FOR [book_score_2_2]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_3]  DEFAULT ((0.0)) FOR [acad_research_score_2_3]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_4]  DEFAULT ((0.0)) FOR [acad_research_score_2_4]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_5]  DEFAULT ((0.0)) FOR [acad_research_score_2_5]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_6]  DEFAULT ((0.0)) FOR [acad_research_score_2_6]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_7]  DEFAULT ((0.0)) FOR [acad_research_score_2_7]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_8]  DEFAULT ((0.0)) FOR [acad_research_score_2_8]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_9]  DEFAULT ((0.0)) FOR [acad_research_score_2_9]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_acad_research_score_2_10]  DEFAULT ((0.0)) FOR [acad_research_score_2_10]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_patents_score_2_11]  DEFAULT ((0.0)) FOR [patents_score_2_11]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_patents_score_2_12]  DEFAULT ((0.0)) FOR [patents_score_2_12]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_research_grants_score_2_13]  DEFAULT ((0.0)) FOR [research_grants_score_2_13]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_research_grants_score_2_14]  DEFAULT ((0.0)) FOR [research_grants_score_2_14]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_research_grants_score_2_15]  DEFAULT ((0.0)) FOR [research_grants_score_2_15]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_research_grants_score_2_16]  DEFAULT ((0.0)) FOR [research_grants_score_2_16]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_creative_work_score_2_17]  DEFAULT ((0.0)) FOR [creative_work_score_2_17]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_creative_work_score_2_18]  DEFAULT ((0.0)) FOR [creative_work_score_2_18]
GO
ALTER TABLE [ev].[personnel_acad_research_score] ADD  CONSTRAINT [DF_personnel_acad_research_score_creative_work_score_2_19]  DEFAULT ((0.0)) FOR [creative_work_score_2_19]
GO
ALTER TABLE [ev].[personnel_acad_service_score] ADD  CONSTRAINT [DF_personnel_acad_service_score_acad_service_score_3_1]  DEFAULT ((0.0)) FOR [acad_service_score_3_1]
GO
ALTER TABLE [ev].[personnel_acad_service_score] ADD  CONSTRAINT [DF_personnel_acad_service_score_acad_service_score_3_2]  DEFAULT ((0.0)) FOR [acad_service_score_3_2]
GO
ALTER TABLE [ev].[personnel_acad_service_score] ADD  CONSTRAINT [DF_personnel_acad_service_score_acad_service_score_3_3]  DEFAULT ((0.0)) FOR [acad_service_score_3_3]
GO
ALTER TABLE [ev].[personnel_acad_service_score] ADD  CONSTRAINT [DF_personnel_acad_service_score_acad_service_score_3_4]  DEFAULT ((0.0)) FOR [acad_service_score_3_4]
GO
ALTER TABLE [ev].[personnel_art_culture_score] ADD  CONSTRAINT [DF_Table_1_art_culture_score_4.1]  DEFAULT ((0.0)) FOR [art_culture_score_4_1]
GO
ALTER TABLE [ev].[personnel_art_culture_score] ADD  CONSTRAINT [DF_personnel_art_culture_score_art_culture_score_4_2]  DEFAULT ((0.0)) FOR [art_culture_score_4_2]
GO
ALTER TABLE [ev].[personnel_other_task_score] ADD  CONSTRAINT [DF_personnel_other_task_score_other_task_score_5_1]  DEFAULT ((0.0)) FOR [other_task_score_5_1]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_teaching_score]  DEFAULT ((0.0)) FOR [teaching_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_acad_research_score]  DEFAULT ((0.0)) FOR [acad_research_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_acad_service_score]  DEFAULT ((0.0)) FOR [acad_service_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_art_culture_score]  DEFAULT ((0.0)) FOR [art_culture_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_other_task_score]  DEFAULT ((0.0)) FOR [other_task_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_administrative_score]  DEFAULT ((0.0)) FOR [administrative_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_virtues_ethics_score]  DEFAULT ((0.0)) FOR [virtues_ethics_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_university_support_score]  DEFAULT ((0.0)) FOR [university_support_score]
GO
ALTER TABLE [ev].[personnel_score] ADD  CONSTRAINT [DF_evdb.personnel_scoring_status]  DEFAULT ('-') FOR [status]
GO
ALTER TABLE [ev].[personnel_uni_support_score] ADD  CONSTRAINT [DF_personnel_uni_support_score_uni_support_8_1]  DEFAULT ((0.0)) FOR [uni_support_8_1]
GO
ALTER TABLE [ev].[personnel_uni_support_score] ADD  CONSTRAINT [DF_personnel_uni_support_score_uni_support_8_2]  DEFAULT ((0.0)) FOR [uni_support_8_2]
GO
ALTER TABLE [ev].[personnel_virtures_ethics_score] ADD  CONSTRAINT [DF_personnel_virtures_ethics_score_virtues_ethics_score_7_1]  DEFAULT ((0.0)) FOR [virtues_ethics_score_7_1]
GO
ALTER TABLE [ev].[personnel_virtures_ethics_score] ADD  CONSTRAINT [DF_personnel_virtures_ethics_score_virtues_ethics_score_7_2]  DEFAULT ((0.0)) FOR [virtues_ethics_score_7_2]
GO
ALTER TABLE [ev].[personnel_virtures_ethics_score] ADD  CONSTRAINT [DF_personnel_virtures_ethics_score_virtues_ethics_score_7_3]  DEFAULT ((0.0)) FOR [virtues_ethics_score_7_3]
GO
ALTER TABLE [ev].[personnel_virtures_ethics_score] ADD  CONSTRAINT [DF_personnel_virtures_ethics_score_virtues_ethics_score_7_4]  DEFAULT ((0.0)) FOR [virtues_ethics_score_7_4]
GO
ALTER TABLE [ev].[personnel_virtures_ethics_score] ADD  CONSTRAINT [DF_personnel_virtures_ethics_score_virtues_ethics_score_7_5]  DEFAULT ((0.0)) FOR [virtues_ethics_score_7_5]
GO
ALTER TABLE [ev].[research_grant_2_3] ADD  CONSTRAINT [DF_research_grant_2_3_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[research_grant_2_3] ADD  CONSTRAINT [DF_research_grant_2_3_status]  DEFAULT (N'W') FOR [status]
GO
ALTER TABLE [ev].[research_grant_2_3] ADD  CONSTRAINT [DF_research_grant_2_3_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[support_task_7] ADD  CONSTRAINT [DF_support_task_7_document_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[support_task_7] ADD  CONSTRAINT [DF_support_task_7_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[teaching_document_2_1] ADD  CONSTRAINT [DF_teaching_document_2_1_reason]  DEFAULT ('-') FOR [reason]
GO
ALTER TABLE [ev].[teaching_document_2_1] ADD  CONSTRAINT [DF_teaching_document_2_1_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[teaching_document_2_1] ADD  CONSTRAINT [DF_teaching_document_2_1_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[teaching_evaluation_1_3] ADD  CONSTRAINT [DF_teaching_evaluation_1_3_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[teaching_evaluation_1_4] ADD  CONSTRAINT [DF_teaching_evaluation_1_4_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[teaching_load_1_1] ADD  CONSTRAINT [DF_teaching_load_1_1_total_credit_lecture]  DEFAULT ((0.0)) FOR [total_credit_lecture]
GO
ALTER TABLE [ev].[teaching_load_1_1] ADD  CONSTRAINT [DF_teaching_load_1_1_total_credit_lab]  DEFAULT ((0.0)) FOR [total_credit_lab]
GO
ALTER TABLE [ev].[teaching_load_1_1] ADD  CONSTRAINT [DF_teaching_load_1_1_total_credit_thesis]  DEFAULT ((0.0)) FOR [total_credit_thesis]
GO
ALTER TABLE [ev].[teaching_load_1_1] ADD  CONSTRAINT [DF_teaching_load_1_1_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [ev].[teaching_load_1_1] ADD  CONSTRAINT [DF_teaching_load_1_1_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [ev].[textbook_2_2] ADD  CONSTRAINT [DF_textbook_2_2_status]  DEFAULT ('W') FOR [status]
GO
ALTER TABLE [ev].[textbook_2_2] ADD  CONSTRAINT [DF_textbook_2_2_approved_emp_id]  DEFAULT (N'-') FOR [approved_emp_id]
GO
ALTER TABLE [hr].[data_centric_users] ADD  CONSTRAINT [DF_data_centric_users_status]  DEFAULT (N'A') FOR [status]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_dept_id]  DEFAULT ('-') FOR [emp_dept_id]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_department]  DEFAULT ('-') FOR [emp_department]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_faculty_id]  DEFAULT ('-') FOR [emp_faculty_id]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_faculty]  DEFAULT ('-') FOR [emp_faculty]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_office_id]  DEFAULT ('-') FOR [emp_office_id]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_office-]  DEFAULT ('-') FOR [emp_office]
GO
ALTER TABLE [hr].[personnel] ADD  CONSTRAINT [DF_personnel_emp_academic_pos]  DEFAULT ('-') FOR [emp_academic_pos]
GO
ALTER TABLE [inter].[visa_transaction] ADD  CONSTRAINT [DF_visa_transaction_student_dname]  DEFAULT (N'-') FOR [student_dname]
GO
ALTER TABLE [inter].[visa_transaction] ADD  CONSTRAINT [DF_visa_transaction_status]  DEFAULT (N'I') FOR [status]
GO
ALTER TABLE [ev].[academic_article_2_4]  WITH CHECK ADD  CONSTRAINT [FK_academic_article_2_4_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[academic_article_2_4] CHECK CONSTRAINT [FK_academic_article_2_4_personnel]
GO
ALTER TABLE [ev].[academic_article_2_5]  WITH CHECK ADD  CONSTRAINT [FK_academic_article_2_5_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[academic_article_2_5] CHECK CONSTRAINT [FK_academic_article_2_5_personnel]
GO
ALTER TABLE [ev].[academic_service_3_1]  WITH CHECK ADD  CONSTRAINT [FK_academic_service_3_1_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[academic_service_3_1] CHECK CONSTRAINT [FK_academic_service_3_1_personnel]
GO
ALTER TABLE [ev].[academic_service_qa_3_2]  WITH CHECK ADD  CONSTRAINT [FK_academic_service_qa_3_2_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[academic_service_qa_3_2] CHECK CONSTRAINT [FK_academic_service_qa_3_2_personnel]
GO
ALTER TABLE [ev].[administrative_task_6]  WITH CHECK ADD  CONSTRAINT [fk_administrative_task_personnel1] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[administrative_task_6] CHECK CONSTRAINT [fk_administrative_task_personnel1]
GO
ALTER TABLE [ev].[advisor_1_5]  WITH CHECK ADD  CONSTRAINT [FK_advisor_1_5_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[advisor_1_5] CHECK CONSTRAINT [FK_advisor_1_5_personnel]
GO
ALTER TABLE [ev].[assign_task_5]  WITH CHECK ADD  CONSTRAINT [fk_culture_activity_personnel10] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[assign_task_5] CHECK CONSTRAINT [fk_culture_activity_personnel10]
GO
ALTER TABLE [ev].[creative_work_2_7]  WITH CHECK ADD  CONSTRAINT [FK_creative_work_2_7_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[creative_work_2_7] CHECK CONSTRAINT [FK_creative_work_2_7_personnel]
GO
ALTER TABLE [ev].[culture_activity_4]  WITH CHECK ADD  CONSTRAINT [fk_culture_activity_personnel1] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[culture_activity_4] CHECK CONSTRAINT [fk_culture_activity_personnel1]
GO
ALTER TABLE [ev].[invite_reviewer_3_4]  WITH CHECK ADD  CONSTRAINT [FK_invite_reviewer_3_4_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[invite_reviewer_3_4] CHECK CONSTRAINT [FK_invite_reviewer_3_4_personnel]
GO
ALTER TABLE [ev].[invite_speaker_3_3]  WITH CHECK ADD  CONSTRAINT [FK_invite_speaker_3_3_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[invite_speaker_3_3] CHECK CONSTRAINT [FK_invite_speaker_3_3_personnel]
GO
ALTER TABLE [ev].[patent_2_6]  WITH CHECK ADD  CONSTRAINT [FK_patent_2_6_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[patent_2_6] CHECK CONSTRAINT [FK_patent_2_6_personnel]
GO
ALTER TABLE [ev].[personnel_approval_status]  WITH CHECK ADD  CONSTRAINT [FK_personnel_approval_status_personnel_scoring] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_approval_status] CHECK CONSTRAINT [FK_personnel_approval_status_personnel_scoring]
GO
ALTER TABLE [ev].[personnel_development_8]  WITH CHECK ADD  CONSTRAINT [FK_personnel_development_8_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[personnel_development_8] CHECK CONSTRAINT [FK_personnel_development_8_personnel]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_acad_research_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_acad_research_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_acad_research_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_acad_service_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_acad_service_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_acad_service_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_admin_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_admin_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_admin_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_art_culture_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_art_culture_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_art_culture_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_other_task_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_other_task_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_other_task_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_teaching_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_teaching_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_teaching_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_uni_support_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_uni_support_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_uni_support_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_score_personnel_virtures_ethics_score] FOREIGN KEY([tr_id])
REFERENCES [ev].[personnel_virtures_ethics_score] ([tr_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_score_personnel_virtures_ethics_score]
GO
ALTER TABLE [ev].[personnel_score]  WITH CHECK ADD  CONSTRAINT [FK_personnel_scoring_personnel] FOREIGN KEY([emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[personnel_score] CHECK CONSTRAINT [FK_personnel_scoring_personnel]
GO
ALTER TABLE [ev].[research_grant_2_3]  WITH CHECK ADD  CONSTRAINT [FK_research_grant_2_3_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[research_grant_2_3] CHECK CONSTRAINT [FK_research_grant_2_3_personnel]
GO
ALTER TABLE [ev].[support_task_7]  WITH CHECK ADD  CONSTRAINT [fk_culture_activity_personnel100] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[support_task_7] CHECK CONSTRAINT [fk_culture_activity_personnel100]
GO
ALTER TABLE [ev].[teaching_document_2_1]  WITH CHECK ADD  CONSTRAINT [FK_teaching_document_2_1_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[teaching_document_2_1] CHECK CONSTRAINT [FK_teaching_document_2_1_personnel]
GO
ALTER TABLE [ev].[teaching_evaluation_1_3]  WITH CHECK ADD  CONSTRAINT [FK_teaching_evaluation_1_3_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[teaching_evaluation_1_3] CHECK CONSTRAINT [FK_teaching_evaluation_1_3_personnel]
GO
ALTER TABLE [ev].[teaching_evaluation_1_4]  WITH CHECK ADD  CONSTRAINT [FK_teaching_evaluation_1_4_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[teaching_evaluation_1_4] CHECK CONSTRAINT [FK_teaching_evaluation_1_4_personnel]
GO
ALTER TABLE [ev].[teaching_evaluation_details_1_4]  WITH CHECK ADD  CONSTRAINT [FK_teaching_evaluation_details_1_4_teaching_evaluation_1_4] FOREIGN KEY([subject_code], [acad_semester], [acad_year])
REFERENCES [ev].[teaching_evaluation_1_4] ([subject_code], [acad_semester], [acad_year])
GO
ALTER TABLE [ev].[teaching_evaluation_details_1_4] CHECK CONSTRAINT [FK_teaching_evaluation_details_1_4_teaching_evaluation_1_4]
GO
ALTER TABLE [ev].[teaching_load_1_1]  WITH CHECK ADD  CONSTRAINT [FK_teaching_load_1_1_personnel1] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[teaching_load_1_1] CHECK CONSTRAINT [FK_teaching_load_1_1_personnel1]
GO
ALTER TABLE [ev].[teaching_load_details_1_1]  WITH CHECK ADD  CONSTRAINT [FK_teaching_load_details_1_1_teaching_load_1_1] FOREIGN KEY([acad_year], [acad_semester])
REFERENCES [ev].[teaching_load_1_1] ([acad_year], [acad_semester])
GO
ALTER TABLE [ev].[teaching_load_details_1_1] CHECK CONSTRAINT [FK_teaching_load_details_1_1_teaching_load_1_1]
GO
ALTER TABLE [ev].[textbook_2_2]  WITH CHECK ADD  CONSTRAINT [FK_textbook_2_2_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [ev].[textbook_2_2] CHECK CONSTRAINT [FK_textbook_2_2_personnel]
GO
ALTER TABLE [hr].[data_centric_users]  WITH CHECK ADD  CONSTRAINT [FK_data_centric_users_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [hr].[data_centric_users] CHECK CONSTRAINT [FK_data_centric_users_personnel]
GO
ALTER TABLE [inter].[visa_transaction_status]  WITH CHECK ADD  CONSTRAINT [FK_visa_transaction_status_personnel] FOREIGN KEY([personnel_emp_id])
REFERENCES [hr].[personnel] ([emp_id])
GO
ALTER TABLE [inter].[visa_transaction_status] CHECK CONSTRAINT [FK_visa_transaction_status_personnel]
GO
ALTER TABLE [inter].[visa_transaction_status]  WITH CHECK ADD  CONSTRAINT [FK_visa_transaction_status_visa_transaction] FOREIGN KEY([tr_id])
REFERENCES [inter].[visa_transaction] ([tr_id])
GO
ALTER TABLE [inter].[visa_transaction_status] CHECK CONSTRAINT [FK_visa_transaction_status_visa_transaction]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ABST = abstract conference paper, FULL = full conference paper' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_4', @level2type=N'COLUMN',@level2name=N'paper_format_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NTN = ระดับชาติ, INT = นานาชาติ' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_4', @level2type=N'COLUMN',@level2name=N'paper_format_level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting to Approve, A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_4', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NTN = ระดับชาติ, INT = นานาชาติ' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_5', @level2type=N'COLUMN',@level2name=N'paper_format_level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Scopus/ Web of Science / TCI 1/ TCI 2 / other' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_5', @level2type=N'COLUMN',@level2name=N'publisher_database'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Q1, Q2, Q3, Q4, and None' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_5', @level2type=N'COLUMN',@level2name=N'publisher_cite_index'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting to Approve, 
A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_article_2_5', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_service_3_1', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'academic_service_qa_3_2', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting for Approved A = approved' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'creative_work_2_7', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'invite_reviewer_3_4', @level2type=N'COLUMN',@level2name=N'journal_conference_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non Active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'invite_reviewer_3_4', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A - Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'invite_speaker_3_3', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting for Approved, A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'patent_2_6', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'transaction id = EV520005068001 (ev + personnel_emp_id + acad year + XXX)' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'personnel_approval_status', @level2type=N'COLUMN',@level2name=N'tr_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S = submitted
, A = approve, 
R = reject' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'personnel_approval_status', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'seminar(สัมมนา), training(อบรม)' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'personnel_development_8', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'transaction id = EVS12680000001 (ev + mm + current year + XXXXXXX)' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'personnel_score', @level2type=N'COLUMN',@level2name=N'tr_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active transaction 
N = Non active transaction 
E = End evaluation process' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'personnel_score', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting for Approved, A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'research_grant_2_3', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non-Active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'support_task_7', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting for Approved, A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_document_2_1', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_document_2_1', @level2type=N'COLUMN',@level2name=N'approved_emp_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'LEC = lecture, LAB = laboratory, THS = Thesis/project/dissertation' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_evaluation_1_3', @level2type=N'COLUMN',@level2name=N'teaching_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TS = Summer term, T1 = Semester 1, T2 = Semester 2' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_evaluation_1_3', @level2type=N'COLUMN',@level2name=N'acad_semester'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_evaluation_1_3', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_evaluation_1_4', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non active' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_load_1_1', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TS = Term Summer, T1 = Term 1, T2 = Term 2' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_load_details_1_1', @level2type=N'COLUMN',@level2name=N'acad_semester'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'LEC = lecture, LAB = laboratory, THS = project/dissertation/thesis' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'teaching_load_details_1_1', @level2type=N'COLUMN',@level2name=N'teaching_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'W = Waiting for Approved, A = Approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'ev', @level1type=N'TABLE',@level1name=N'textbook_2_2', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, N = Non-active' , @level0type=N'SCHEMA',@level0name=N'hr', @level1type=N'TABLE',@level1name=N'data_centric_users', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Only school email (@rsu.ac.th)' , @level0type=N'SCHEMA',@level0name=N'hr', @level1type=N'TABLE',@level1name=N'personnel', @level2type=N'COLUMN',@level2name=N'emp_email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PhD / Master / Bachelor' , @level0type=N'SCHEMA',@level0name=N'hr', @level1type=N'TABLE',@level1name=N'personnel', @level2type=N'COLUMN',@level2name=N'emp_h_education'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'L = lecturers, S = staffs' , @level0type=N'SCHEMA',@level0name=N'hr', @level1type=N'TABLE',@level1name=N'personnel', @level2type=N'COLUMN',@level2name=N'emp_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Head of Program, Director, Dean, Associated Dean' , @level0type=N'SCHEMA',@level0name=N'hr', @level1type=N'TABLE',@level1name=N'personnel', @level2type=N'COLUMN',@level2name=N'emp_pos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'transaction id = INT12680000001 (INT: Inter + mm + current year + XXXXXXX)' , @level0type=N'SCHEMA',@level0name=N'inter', @level1type=N'TABLE',@level1name=N'visa_transaction', @level2type=N'COLUMN',@level2name=N'tr_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'pickup date = current date + 10 days' , @level0type=N'SCHEMA',@level0name=N'inter', @level1type=N'TABLE',@level1name=N'visa_transaction', @level2type=N'COLUMN',@level2name=N'visa_doc_pickup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'I = In progress, A = approved, R = Rejected' , @level0type=N'SCHEMA',@level0name=N'inter', @level1type=N'TABLE',@level1name=N'visa_transaction', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'S = Submitted, V = Under review, A = Approved document, P = Pickup document, C = Completed  ' , @level0type=N'SCHEMA',@level0name=N'inter', @level1type=N'TABLE',@level1name=N'visa_transaction_status', @level2type=N'COLUMN',@level2name=N'visa_status'
GO
USE [master]
GO
